body {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #5881d8;
}

div.topcontent {
  width: 800px;
  background-color: #fff;
  padding: 5px;
}
div.navigation {
  width: 800px;
  background-color: #91dc47;
  margin-bottom: 5px;
}
div.navigation a{
  text-decoration: none;
  color: #fff;
}
div.navigation a:hover{
  text-decoration: none;
  color: #63b132;
}
div.maincontent {
  display: inline-block;
  width: 800px;
  background-color: #90b4fe;
}
div.food-nav a, div.organism-nav a{
  text-decoration: none;
  color: #fff;
}
div.food-nav a:hover, div.organism-nav a:hover{
  color: #91dc47;
}
td.gedit a, td.gdelete a{
  color: #5881d8;
  text-decoration: none;
}
td.gedit:hover, td.gdelete:hover {
  background-color: #5881d8;
  color: #fff;
}
td.gedit:hover a, td.gdelete:hover a{
  color: #90b4fe;
}
td.gedit:active, td.gdelete:active {
  background-color: #fff;
  color: #fff;
}
td.gedit:active a, td.gdelete:active a{
  color: #90b4fe;
}
div.left-column {
  float: left;
  margin: 5px;
  margin-right: 10px;
  border: solid 5px #fff;
  padding: 5px;
  background-color: #63b132;
}
div.middle-column {
  float: left;
  font-size: 14px;
  color: #fff;
}
div.right-column {
  float: left;
}
form#grocery-form tr td:first-child,
form#organism-form tr td:first-child,
table.organism-table tr td:first-child {
  text-align:right;
}
form#grocery-form tr td:first-child + td input,
form#grocery-form tr td:first-child + td textarea,
form#organism-form tr td:first-child + td input,
table.organism-table tr td:first-child + td input{
  color: #fff;
  background-color: #91dc47;
  border: solid 2px #fff;
  width: 200px;
}
input#submit {
  width: auto !important;
}
input#submit:hover {
  background-color: #63b132 !important;
}
input[type="radio"] {
  display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('../images/radio.png') left top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url('../images/radio.png') -19px top no-repeat;
}
/*tr.grocery-data (even) {background-color: #CCC;}
tr.grocery-data (odd) {background-color: #FFF;}*/
