body {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #5881d8;
}

div.topcontent {
  width: 800px;
  background-color: #fff;
  padding: 5px;
}
div.navigation {
  width: 800px;
  background-color: #91dc47;
  margin-bottom: 5px;
}
div.navigation a{
  text-decoration: none;
  color: #fff;
}
div.navigation a:hover{
  text-decoration: none;
  color: #63b132;
}
div.maincontent {
  display: inline-block;
  width: 800px;
  background-color: #90b4fe;
}
div.grocery-nav a,
div.organism-nav a,
div.meal-nav a{
  text-decoration: none;
  color: #fff;
}
div.grocery-nav a:hover,
div.organism-nav a:hover,
div.meal-nav a:hover{
  color: #91dc47;
}
td.gedit a,
td.gdelete a,
td.mledit a,
td.mldelete a,
td.iremove a{
  color: #5881d8;
  text-decoration: none;
}
td.gedit:hover,
td.gdelete:hover,
td.mledit:hover,
td.mldelete:hover,
td.iremove:hover {
  background-color: #5881d8;
  color: #fff;
}
td.gedit:hover a,
td.gdelete:hover a,
td.mledit:hover a,
td.mldelete:hover a,
td.iremove:hover a{
  color: #90b4fe;
}
td.gedit:active,
td.gdelete:active,
td.mledit:active,
td.mldelete:active,
td.iremove:active {
  background-color: #fff;
  color: #fff;
}
td.gedit:active a,
td.gdelete:active a,
td.mledit:active a,
td.mldelete:active a,
td.iremove:active a{
  color: #90b4fe;
}
div.left-column {
  float: left;
  margin: 5px;
  margin-right: 10px;
  border: solid 5px #fff;
  padding: 5px;
  background-color: #63b132;
}
div.middle-column {
  float: left;
  font-size: 14px;
  color: #fff;
}
div.right-column {
  float: left;
}
form#grocery-form tr td:first-child,
form#organism-form tr td:first-child,
form#meal-form tr td:first-child,
table.organism-table tr td:first-child {
  text-align:right;
}
input, textarea, select {
  color: #fff;
  background-color: #91dc47;
  border: solid 2px #fff;
  display: inline-block;
  width: 200px;
  outline: none;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}
input#submit, input[type="button"] {
  width: auto !important;
}
input#submit:hover, input[type="button"]:hover {
  background-color: #63b132 !important;
}
input[type="radio"] {
  display:none;
}
input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url('../images/radio.png') left top no-repeat;
  cursor:pointer;
}
input[type="radio"]:checked + label span {
  background:url('../images/radio.png') -19px top no-repeat;
}
.center-align {
  text-align: center !important;
}
.ingredients input{
  text-align:right;
  width: 60px
}
tr.ingredients td:first-child {
  vertical-align: top;
}
/*tr.grocery-data (even) {background-color: #CCC;}
tr.grocery-data (odd) {background-color: #FFF;}*/
